body {
  background: rgb(12, 17, 43);
}

.title {
  font-family: sans-serif;
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 56px;
  font-weight: bold;
  position: absolute;
  left: 50%;
  top: 50vh;
  width: 100%;
  transform: translate(-50%, -50%);
  color: #243156;
}

.title a {
  color: rgb(93, 134, 255);
  font-size: 14px;
  font-weight: 300;
}

.box {
  display: block;
  height: 160px;
  width: 160px;
  content: '';
  background: rgb(93, 134, 255);
  margin: 0 auto;
  margin-top: 40px;
  opacity: 0;
}

.spacer {
  height: 100vh;
}
