@keyframes anim {
  0% {
    stroke-dashoffset: 4500px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

svg {
  width: 100%;
  height: auto;
  margin-top: -4vw;
}

svg path {
  stroke: red;
  stroke-dasharray: 4500px;
  stroke-dashoffset: 4500px;
  animation: 3s anim linear infinite;
}

h1 {
  font-size: 15vw;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  color: black;
}
